/* PostsItems */
.section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; /* 모바일 기본: 한 줄에 1개 */
  gap: 1rem ;
}
.article {
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #9c9c9c;
}

.details > h3 {
  font-size: 14px;
  background-color: #eee;
  border-radius: 4px;
  padding: 2px 0;
  text-align: center;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.details > p {
  font-size: 12px;
}
.details > .date {
  text-align: right;
  color: #555555;
}
.details > .content {
  padding: 8px 0;
  box-sizing: border-box;
}

/* PostItemsEditView */
.quillEditor {
  margin: 16px 0;
}

/* tablet의 중간크기 ~ desktop */
@media (min-width: 768px) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}
