.bookSection {
  padding: 24px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #eee;
  border-radius: 8px;
  text-align: center;
}

.title > p {
  font-size: 18px;
  font-weight: 600;
}
.title > a {
  display: block;
  text-align: right;
  font-size: 14px;
}

.bookInfo .imageContainer > img {
  width: 140px;
  height: 200px;
  margin: 20px;
}

.bookInfo .imageContainer > p {
  font-weight: 700;
  margin-bottom: 16px;
}

.bookInfo .description {
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
}
.expanded {
  display: block;
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: none;
  overflow: visible;
  margin: 16px;
  text-align: left;
}

/* tablet의 중간크기 ~ desktop */
@media (min-width: 768px) {
  .bookContainer {
    width: 70%;
  }
  .title > a {
    margin: 16px 0;
  }
  .bookInfo {
    display: flex;
    padding: 16px 0 32px 0;
    box-sizing: border-box;
  }
  .bookInfo .description {
    height: 300px;
    margin: 0 16px;
    text-align: left;
  }
}
