.diaries {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.featured {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.featured > img {
  width: 130px;
  margin-right: 8px;
}

.featured > .featuredText {
  width: 100%;
  word-break: break-word;
}
.featured > .featuredText > h3 {
  margin-bottom: 8px;
}

/* PostsItems */
.postsItems {
  padding: 8px ;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #9c9c9c;
}
.thumbnail {
  width: 100%;
  height: 80px;
  border-radius: 8px;
  background-color: #eee;
  border: 1px solid #eee;
  text-align: center;
}

.details {
  min-width: 75%;
  min-height: 120px;
  padding: 8px;
  box-sizing: border-box;
}

.details > h3 {
  font-size: 14px;
}

.details > p {
  font-size: 12px;
}
