.diaryContainer {
  position: relative;
  height: 400px;
  margin-bottom: 32px;
}
.titleBox{
  margin: 16px auto;
  display: flex;
  justify-content: space-between
}
.diaryContainer h3 {
  font-size: 18px;
}

.bgDiaryImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.diaries {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
  backdrop-filter: blur(8px); /* 블러 효과 */
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.diaries > .bookImage {
  width: 100px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 8px;
}

.diaries > .diariesText {
  width: 60%;
  word-break: break-word;
}
.diaries > .diariesText > div {
  margin-bottom: 8px;
}


.diaries > .diariesText .label {
  font-weight: 700;
  color: #666;
  font-size: 12px;
}
.diaries > .buttonBox {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* PostsItems */
.postsItems {
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #9c9c9c;
}

.details {
  min-width: 75%;
  min-height: 120px;
  padding: 8px;
  box-sizing: border-box;
}

.details > h3 {
  font-size: 14px;
  background-color: #eee;
  border-radius: 4px;
  padding: 2px 0;
  text-align: center;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.details > p {
  font-size: 12px;
}

/* DiaryItemss */
