
.diaries {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  position: relative;
}

.diaries > .bookImage {
  width: 80px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #eee;
}

.bgDiaryImage{
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.diaries > .diariesText {
  width: 60%;
  word-break: break-word;
}
.diaries > .diariesText > div {
  margin-bottom: 8px;
}
.diaries > .diariesText > div > p {
  font-size: 16px;
  font-weight: 700;
}

.diaries > .diariesText .label {
  font-weight: 700;
  color: #666;
  font-size: 12px;
}
.diaries > .buttonBox {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* PostsItems */
.postsItems {
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #9c9c9c;
}

.details {
  min-width: 75%;
  min-height: 120px;
  padding: 8px;
  box-sizing: border-box;
}

.details > h3 {
  font-size: 14px;
  background-color: #eee;
  border-radius: 4px;
  padding: 2px 0;
  text-align: center;
  margin-bottom: 8px;
  box-sizing: border-box;
}

.details > p {
  font-size: 12px;
}

/* DiaryItemss */
