.searchBar {
  max-width: 400px;
  height: 40px;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  color: #333;
}

.input::placeholder {
  color: #aaa;
}

.searchButton {
  margin-left: 5px;
  font-size: 18px;
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}


/* 데스크탑 전용*/
@media (min-width: 768px) {
  .searchBar {
    max-width: 500px;
    margin: 2rem 0 0;
  }
}
