.section {
  margin-bottom: 32px;
}
.itemListBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  flex-wrap: wrap;
  padding: 16px 0;
  box-sizing: border-box;
}
