:root {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

  /* width */
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1280px;

  /* font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --font-h1: 2.25rem;
  --font-h2: 2rem;
  --font-h3: 1.25rem;
  --font-base: 1rem;
  --font-small: 0.9rem;

  /* animation */
  --skeleton-background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f0f0f0 50%,
    #e0e0e0 75%
  );
  --skeleton-background-size: 200% 100%;
  --skeleton-animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: var(--font-h1);
}
h2 {
  font-size: var(--font-h2);
}
h3 {
  font-size: var(--font-h3);
}
p,
div,
li {
  font-size: var(--font-base);
}

p,
div,
h1,
h2,
h3,
h4,
body {
  margin: 0;
  padding: 0;
}

/* mobile */
@media (max-width: 480px) {
  :root {
    --font-h1: 1.75rem;
    --font-h2: 1.25rem;
    --font-h3: 1rem;
    --font-base: 0.9rem;
  }
}

/* tablet */
@media (min-width: 481px) and (max-width: 1279px) {
  :root {
    --font-h1: 2rem;
    --font-h2: 1.5rem;
    --font-h3: 1.25rem;
    --font-base: 0.95rem;
  }
}

/* desktop */
@media (min-width: 1280px) {
  html {
    background-color: #f3f3f3;
  }
  body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
}

/* Editor Styling */
.ql-toolbar {
  border-radius: 4px 4px 0 0;
  background-color: #f0f0f0;
}
.ql-container {
  border-radius: 0 0 4px 4px;
  min-height: 250px;
  background-color: white;
}
.ql-editor {
  padding: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  color: #333;
}
